    @import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Work+Sans:wght@300&display=swap');


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

  
@layer base {
  h2 {
    @apply text-center 
  }

  .form_container {
    @apply   shadow-md rounded-lg  p-5 sm:px-10 md:max-w-2xl my-5 bg-white mx-auto
  }
  .form_container_child {
    @apply px-2 py-3 space-x-1 space-y-1
  }
  label {
    @apply text-slate-900 font-bold capitalize ;
  }
  div input {
    @apply block w-full p-2 px-4 bg-gray-100 rounded-md mt-1 
  }
  
  .selectstyles{
    @apply block px-4 p-2 ml-3  border border-black rounded-md capitalize
  }
  textarea{
    @apply rounded-md
  }
  .inputSelect {
    @apply ml-2 mr-2 pl-2 py-1  min-w-[20px] max-w-[120px] capitalize border border-slate-300;
  }

    
}

@layer components {


}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .tituloPrincipal {
    @apply  text-3xl font-black 
  }
  .titulos {
    @apply font-bold text-xl my-2
  }

  .botonSubmit {
    @apply bg-blue-500 px-10 py-2.5 rounded-xl text-white text-lg hover:scale-105 duration-200 flex items-center max-h-16 mb-10
  }

  .botonVolver{
    @apply bg-slate-400 px-10 py-2.5 rounded-xl text-white text-lg hover:scale-105 duration-200 flex items-center max-h-16 mb-10

  }

  .field_error {
    @apply bg-red-500 text-white font-bold text-center p-2 px-10   mx-auto uppercase mb-3 rounded
  }
  .img-icon{
    @apply h-6
  }

  
}

textarea {
  border-style: solid;
  border-color: rgb(31, 31, 43);
  border-width: 1px;
}

input {
  border-style: solid;
  border-color: rgb(31, 31, 43);
  border-width: 1px;
}

